<!-- main.component.html start -->

  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container mt-3">
      <a class="navbar-brand border-bottom" href="#">
        <img src="assets/images/brandBridgeColored.png" alt="" width="30" height="30" class="d-inline-block align-text-bottom me-2">
        <span style="font-family: 'Jura', sans-serif; font-weight: 700; font-size: 1.25em">ТКР АД </span>
        <span style="font-family: 'Jura', sans-serif; font-weight: 500; font-size: 0.75em">и т.д.</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto border-bottom">
          <li class="nav-item">
            <a class="nav-link active" id="app-landing" aria-current="page" href="#" (click)="switchComponent('app-landing')">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="app-news" href="#" (click)="switchComponent('app-news')">Новости</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="app-products" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Продукты
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" id="app-calcdo" href="#" (click)="switchComponent('app-calcdo')">Расчёт дорожной одежды</a></li>
              <li><a class="dropdown-item" id="app-calcwalls" href="#" (click)="switchComponent('app-calcwalls')">Расчёт подпорных стен</a></li>
            </ul>
          </li>
        </ul>
        <a class="navbar-btn btn btn-sm btn-outline-primary ms-auto" href="#" (click)="switchComponent('app-login')">Войти</a>
      </div>
    </div>
  </nav>
  <div class="container mt-3" style="min-height: 84vh">
    <app-landing *ngIf="currentComponent()==='app-landing'"></app-landing>
    <app-news *ngIf="currentComponent()==='app-news'"></app-news>
    <app-calcdo *ngIf="currentComponent()==='app-calcdo'"></app-calcdo>
    <app-calcwalls *ngIf="currentComponent()==='app-calcwalls'"></app-calcwalls>
    <app-about *ngIf="currentComponent()==='app-about'"></app-about>
    <app-credits *ngIf="currentComponent()==='app-credits'"></app-credits>
    <app-login *ngIf="currentComponent()==='app-login'"></app-login>
    <app-register *ngIf="currentComponent()==='app-register'"></app-register>
  </div>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <ul class="navbar-nav ms-auto border-top">
        <li class="nav-item">
          <a class="nav-link" id="app-about" aria-current="page" href="#" (click)="switchComponent('app-about')">О проекте</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="app-credits" href="#" (click)="switchComponent('app-credits')">Благодарности</a>
        </li>
      </ul>
      <!--Для центрирования ссылок в подвале-->
      <div class="ms-auto"></div>
    </div>
  </nav>
<!-- main.component.html end -->
