<div class="row justify-content-md-center">
  <div class="col col-md-auto">
    <div class="input-group mb-3">
      <span class="input-group-text">E-mail:</span>
      <input type="email" id="Name" dataElement class="form-control  bottomframe">
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col col-md-auto">
    <div class="input-group mb-3">
      <span class="input-group-text">Пароль:</span>
      <input type="password" id="Password" dataElement class="form-control  bottomframe">
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col col-md-auto">
    <div class="input-group mb-3">
      <a class="navbar-btn btn btn-sm btn-outline-primary ms-auto" href="#">Войти</a>
    </div>
  </div>
  <div class="col col-md-auto">
    <div class="input-group mb-3">
      <a class="navbar-btn btn btn-sm btn-outline-primary ms-auto" routerLink="/accounts/register">Регистрация</a>
    </div>
  </div>
</div>

