<div componentTitle="Регистрация" *ngIf="isRegisterRoute"></div>
<div componentTitle="Вход" *ngIf="!isRegisterRoute"></div>

<div [errorMessage]="errorMessage"></div>
<div [successMessage]="successMessage"></div>

<form [formGroup]="registerForm" (ngSubmit)="onRegisterOrLogin(registerForm.value)" novalidate>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="input-group mb-3">
        <span class="input-group-text">Email:</span>
        <input type="text"
               class="form-control bottomframe"
               formControlName="email">
      </div>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4 offset-md-4">
      <div class="input-group mb-3">
        <span class="input-group-text">Пароль:</span>
        <input type="password"
               class="form-control bottomframe"
               formControlName="password">
      </div>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4 offset-md-4" *ngIf="isRegisterRoute">
      <div class="input-group mb-3">
        <span class="input-group-text">Пароль (повторно):</span>
        <input type="password"
               class="form-control bottomframe"
               formControlName="confirmPassword">
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>
  <!-- TODO: Блокировать кнопку "Зарегистрироваться" и добавить spinner при ожидании запроса на регистрацию.
    Возможно добавить небольшую искусственную задержку, при слишком быстром выполнении запроса -->
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf="isRegisterRoute == true">Зарегистрироваться</button>
      <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf="isRegisterRoute == false">Войти</button>
    </div>
  </div>
</form>

