<form [formGroup]="form" novalidate>
  <div class="row align-items-center">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text">Район проектирования:</span>
        <input type="text" class="form-control  bottomframe" formControlName="Район_проектирования">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text">Наименование объекта:</span>
        <input type="text" class="form-control bottomframe" formControlName="Наименование_объекта">
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" for="Тип_местности_по_рельефу">Тип местности по рельефу:</label>
        <select class="form-select bottomframe" id="Тип_местности_по_рельефу" formControlName="Тип_местности_по_рельефу">
          <option value="1">Равнинные районы</option>
          <option value="2">Предгорные районы</option>
          <option value="3">Горные районы</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" for="Дорожно_климатическая_зона">Дорожно-климатическая зона:</label>
        <select class="form-select  bottomframe" id="Дорожно_климатическая_зона" formControlName="Дорожно_климатическая_зона">
          <option value="1">I-1</option>
          <option value="2">I-2</option>
          <option value="3">I-3</option>
          <option value="4">II-1</option>
          <option value="5">II-2</option>
          <option value="6">II-3</option>
          <option value="7">II-4</option>
          <option value="8">II-5</option>
          <option value="9">II-6</option>
          <option value="10">III-1</option>
          <option value="11">III-2</option>
          <option value="12">III-3</option>
          <option value="13">IV</option>
          <option value="14">V</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" for="Номер_района_по_количеству_расчётных_дней">Номер района по количеству расчётных дней:</label>
        <select class="form-select bottomframe" id="Номер_района_по_количеству_расчётных_дней" formControlName="Номер_района_по_количеству_расчётных_дней">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" for="Схема_увлажнения_рабочего_слоя">Схема увлажнения рабочего слоя:</label>
        <select class="form-select bottomframe" id="Схема_увлажнения_рабочего_слоя" formControlName="Схема_увлажнения_рабочего_слоя">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" for="Категория_дороги">Категория дороги:</label>
        <select class="form-select bottomframe" id="Категория_дороги" formControlName="Категория_дороги">
          <option value="1">I</option>
          <option value="2">II</option>
          <option value="3">III</option>
          <option value="4">IV</option>
          <option value="5">V</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text">Поправка на влажность:</span>
        <input type="text" class="form-control bottomframe" value="0" formControlName="Поправка_на_влажность">
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" for="Тип_дорожной_одежды">Тип дорожной одежды:</label>
        <select class="form-select bottomframe" id="Тип_дорожной_одежды" formControlName="Тип_дорожной_одежды">
          <option value="1">Капитальный</option>
          <option value="2">Облегчённый</option>
          <option value="3">Переходный</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" for="Количество_полос_движения">Количество полос движения:</label>
        <select class="form-select bottomframe" id="Количество_полос_движения" formControlName="Количество_полос_движения">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" for="Заданная_надёжность">Заданная надёжность:</label>
        <select class="form-select bottomframe" id="Заданная_надёжность" formControlName="Заданная_надёжность">
          <option value="1">0.98</option>
          <option value="2">0.95</option>
          <option value="3">0.90</option>
          <option value="4">0.85</option>
          <option value="5">0.80</option>
          <option value="6">0.70</option>
        </select>
      </div>
    </div>
    <div class="col align-items-center">
      <div class="input-group mb-3">
        <label class="input-group-text" for="Тип_земляного_полотна">Тип земляного полотна:</label>
        <select class="form-select  bottomframe" id="Тип_земляного_полотна" formControlName="Тип_земляного_полотна">
          <option value="1">Насыпь</option>
          <option value="2">Нулевые места (h < 1м)</option>
          <option value="3">Выемка</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text">Глубина промерзания грунта от поверхности покрытия:</span>
        <input type="text" class="form-control bottomframe" formControlName="Глубина_промерзания_грунта_от_поверхности_покрытия">
        <span class="input-group-text"> м</span>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text">Расстояние от низа дорожной одежды до расчётного УГВ:</span>
        <input type="text" class="form-control bottomframe" formControlName="Расстояние_от_низа_дорожной_одежды_до_расчётного_УГВ">
        <span class="input-group-text"> м</span>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" for="Коэффициент_уплотнения_грунта">Коэффициент уплотнения грунта:</label>
        <select class="form-select bottomframe" id="Коэффициент_уплотнения_грунта" formControlName="Коэффициент_уплотнения_грунта">
          <option value="1">1.03 - 1.00</option>
          <option value="2">1.01 - 0.98</option>
          <option value="3">0.97 - 0.95</option>
          <option value="4">0.94 - 0.90</option>
          <option value="5">< 0.90</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text">Ширина проезжей части:</span>
        <input type="text" class="form-control bottomframe" formControlName="Ширина_проезжей_части">
        <span class="input-group-text"> м</span>
      </div>
    </div>
  </div>
</form>
