<!-- app.component.html start -->
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container mt-3">
    <a class="navbar-brand border-bottom" href="#">
      <img src="assets/images/brandBridgeColored.png" alt="" width="30" height="30" class="d-inline-block align-text-bottom me-2">
      <span style="font-family: 'Jura', sans-serif; font-weight: 700; font-size: 1.25em">ТКР АД </span>
      <span style="font-family: 'Jura', sans-serif; font-weight: 500; font-size: 0.75em">и т.д.</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto border-bottom">
        <li class="nav-item">
          <a class="nav-link" id="app-main" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="app-news" routerLink="/news" routerLinkActive="active">Новости</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="app-products" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActiveDropdown>
            Продукты
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" id="app-calcdo" routerLink="/products/calcdo">Расчёт дорожной одежды</a></li>
            <li><a class="dropdown-item" id="app-calcwalls" routerLink="/products/calcwalls">Расчёт подпорных стен</a></li>
          </ul>
        </li>
      </ul>
      <a class="navbar-btn btn btn-sm btn-outline-primary ms-auto" routerLink="/authentication/login">Войти</a>
      <a class="navbar-btn btn btn-sm btn-outline-primary ms-2" routerLink="/authentication/register">Регистрация</a>
    </div>
  </div>
</nav>
<div class="container mt-3" style="min-height: 84vh">
  <router-outlet></router-outlet>
</div>
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <ul class="navbar-nav ms-auto border-top">
      <li class="nav-item">
        <a class="nav-link" id="app-about" aria-current="page" routerLink="/about" routerLinkActive="active">О проекте</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="app-credits" routerLink="/credits" routerLinkActive="active">Благодарности</a>
      </li>
    </ul>
    <!--Для центрирования ссылок в подвале-->
    <div class="ms-auto"></div>
  </div>
</nav>
<!-- app.component.html start -->
